.{% extends "base.html" %} 
{% load static %}
{% block title %}Messages{% endblock %} 
{% block content %}
<h1 class="display-6">Your Inbox</h1>
<div class="my-3 mx-3">
    {% for message in message_list %}
    {% if message.is_parent %}
    <div class="card mb-3 {% if message.user_from == request.user %}bg-primary{% endif %}" style="max-width:540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src='{% if message.user_from.profile.photo %}{{message.user_from.profile.photo.url}}{% else %}{% static "img/no_image.png" %}{% endif %}'
                class="rounded-start" style="width: 100px;height: 100px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{message.user_from.username}}</h5>
                    <p class="card-text">{{message.message}}</p>
                    <p class="card-text"><small class="text-muted">{{message.created}}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% for reply in message.replies.all %}
    <div class="card mb-3 {% if reply.user_from == request.user %}bg-primary{% endif %}" style="max-width:540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src='{% if reply.user_from.profile.photo %}{{reply.user_from.profile.photo.url}}{% else %}{% static "img/no_image.png" %}{% endif %}'
                class="rounded-start" style="width: 100px;height: 100px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{reply.user_from.username}}</h5>
                    <p class="card-text">{{reply.message}}</p>
                    <p class="card-text"><small class="text-muted">{{reply.created}}</small></p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% if message.user_from == request.user %}
    <form action="{% url 'chat:reply' message.id message.user_to.id %}" method="post" class="my-2">
    {% elif message.user_to == request.user %}
    <form action="{% url 'chat:reply' message.id message.user_from.id %}" method="post" class="my-2">
    {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{form.as_p}}
            </div>
        </div>
        <button class="btn btn-outline-primary" type="submit">
            Reply
        </button>
    </form>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}