{% extends "base.html" %} 
{% load static %}
{% block title %}{{product.name}}{% endblock %}
{% block content %}
<div class="row p-5">
    <div class="col-md-6">
        <img src="{% if product.image %}{{product.image.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="width: 100%;">
    </div>
    <div class="col-md-6">
        <h1 class="display-4">{{product.name}}</h1>
        <p class="text-sm">
            Category: <a href="{{product.category.get_absolute_url}}">{{product.category.name}}</a>
        </h2>
        <p class="h4 text-success">Price: ₦{{product.price}}</p>
        {% if product.user != request.user %}
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            <div style="width: 40%;" class="mt-4 mb-4">
                {{cart_product_form}}
                {% csrf_token %}
            </div>
            <button type="submit" class="btn btn-outline-primary mt-2 mb-2">Add to cart</button>
        </form>
        {% endif %}
        <p>{{product.description|linebreaks}}</p>
    </div>
</div>
{% endblock %}