{% extends "base.html" %}
{% load static %}
{% block title %}
{% if category %}{{category.name}}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <h1>{% if category %}{{category.name}}{% else %}My Products{% endif %}</h1>
        </div>
        <div class="col-md-9">
            <nav class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link {% if not category %}active{% endif %}" href='{% url "shop:my_products" %}' aria-current="page">All</a>
                </li>
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link {% if category.slug == c.slug %}active{% endif %}" href='{% url "shop:my_products_by_category"  c.slug %}' aria-current="page">{{c.name}}</a>
                </li>
                {% endfor %}
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-outline-success mt-3 justify-content-end" href="{% url 'shop:create_product' %}">
                <i class="bi bi-plus-lg"></i> Create Product
            </a>
        </div>
    </div>
    <div class="row">
        <div class="container px-4 px-lg-5 mt-5">
            {% include "shop/product/product_list.html" with products=products %}
        </div>
    </div>
</div>
{% endblock %}