{% load static %}
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for product in products %}
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src='{% if product.image %}{{product.image.url}}{% else %}{% static "img/no_image.png" %}{% endif %}' alt="{{product.name}}" />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{product.name|truncatechars:25}}</h5>
                    <!-- Product reviews-->
                    <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                    </div> -->
                    <!-- Product price-->
                    ₦{{product.price}}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{product.get_absolute_url}}">View Details</a></div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-start">No products here yet. Check back later</p>
    {% endfor %} 
</div>