{% extends "base.html" %}
{% block title %}Checkout{% endblock %} 
{% block content %}
<h1 class="display-4">Checkout</h1>
<div>
    <div class="container-fluid bg-light p-5 shadow-lg mt-5">
        <div class="row gx-5">
            <div class="col">
                <form  method="post">
                    {{form.as_p}}
                    {% csrf_token %} 
                    <button class="btn btn-outline-primary" type="submit">Place order</button>
                </form>
            </div>
            <div class="col">
                <h3 class="display-6">Your orders</h3>
                <ul class="list-group mt-5">
                    <li class="list-group-item shadow-sm p-1 mt-2 mb-2">{{item.quantity}} x {{item.name}}:
                        <span>{{item.total_price}}</span>
                    </li>
                </ul>
                <p class="h4 mt-3 mb-3 p-2">Total: {{cart.get_total_price}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}