{% extends "base.html" %} 
{% block title %}Reset password{% endblock %}
{% block content %}
<div class="container-fluid bg-light p-5 shadow-lg mt-5">
    <div class="col-md-6">
        <h1 class="display-4 text-center m-4">Reset your password</h1>
        {% if validlink %}
        <p>Please enter your new password</p>
        <form method="post">
            {{form.as_p}}
            {% csrf_token %} 
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
        {% else %} 
        <p>The password reset link was invalid, possibly because it has been already used. 
            Please request a new password reset.</p>
        {% endif %}
    </div>
</div> 
{% endblock %}