{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Afriexporter is an online store where people get to post their wares" />
        <meta name="author" content="Yunus Hamod Gbolahan" />
        <title>AfriExporter - {% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'shop:product_home' %}">AfriExporter</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'shop:product_home' %}">Home</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'shop:product_list' %}">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                {% for category in categories %}
                                <li><a class="dropdown-item" href="{{category.get_absolute_url}}">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-fill"></i> Hi, {{request.user.username}}!
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'edit' %}"><i class="bi bi-person-circle"></i> My Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'shop:my_products' %}"><i class="bi bi-shop"></i> My products</a></li>
                                <li><a class="dropdown-item" href="{% url 'orders:orders' %}"><i class="bi bi-bag-fill"></i> My Orders</a></li>
                                <li><a class="dropdown-item" href="{% url 'chat:get_messages' %}"><i class="bi bi-envelope"></i> Inbox</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>

                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex mx-2" role="search" action="{% url 'shop:search_product' %}" method="get">
                        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                      </form>
                    <form class="d-flex">
                        <a class="btn btn-outline-dark d-flex" href='{% url "cart:cart_detail" %}'>
                            <i class="bi-cart-fill me-1"></i>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{cart|length}}</span>
                        </a>
                    </form>
                    {% if not request.user.is_authenticated %}
                    <a class="btn btn-outline-dark d-flex mx-2" href="{% url 'login' %}">
                        <i class="bi bi-box-arrow-left"></i> Login
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="mt-auto py-2 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; AfriExporter {% now 'Y' %}</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>